{% extends 'base.html' %}

{% block content %}
{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Crime Report </title>

    <!-- CSS FILES -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>

<body id="section_1">






    <!-- <header class="site-header">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-12 d-flex flex-wrap">
                    <p class="d-flex me-4 mb-0">
                        <i class="bi-geo-alt me-2"></i>
                        Police Headquarters, Rajasthan
                    </p>

                    <p class="d-flex mb-0">
                        <i class="bi-envelope me-2"></i>

                        <a href="mailto:info@company.com">
                            help@police.gov.in
                        </a>
                    </p>
                </div> -->

    <!-- <div class="col-lg-3 col-12 ms-auto d-lg-block d-none">
                        <ul class="social-icon">
                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-twitter"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-facebook"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-instagram"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-youtube"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-whatsapp"></a>
                            </li>
                        </ul>
                    </div> -->

    <!-- </div>
        </div>
    </header> -->







    <!-- <nav class="navbar navbar-expand-lg bg-light shadow-lg">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">
                <!-- <img src="images/Logo.png" class="logo img-fluid" alt="Crime Portal"> -->
    <!-- <img src="media/images/Logo.png" class="logo img-fluid" alt="Crime Portal"> -->
    <!-- <img src="{{ request.scheme }}://{{ request.get_host }}{{ MEDIA_URL }}images/Logo.png" class="logo img-fluid" alt="Crime Portal"> -->
    <!--               <img src="{% static 'images/Logo.png' %}" class="img-fluid avatar-image" alt="Logo">


                <span>
                    Cyber Portal
                    <small>Police Headquarters</small>
                </span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#top">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_2">About</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_3">Laws</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_4">Volunteer</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link click-scroll dropdown-toggle" href="#section_5"
                            id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">News</a>

                        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                            <li><a class="dropdown-item" href="news.html">News Listing</a></li>

                            <li><a class="dropdown-item" href="news-detail.html">News Detail</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_6">Contact</a>
                    </li>

                    <li class="nav-item">
                        {% if user.is_authenticated %}
                        <a class="nav-link" href="{% url 'logout' %}">Logout ({{ user.username }})</a>
                        {% else %}
                        <a class="nav-link" href="{% url 'user_login' %}">Login</a>
                        {% endif %}
                    </li>

                </ul>
            </div>
        </div>
    </nav> -->

    <main>

        <section class="hero-section hero-section-full-height">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-12 col-12 p-0">
                        <div id="hero-slide" class="carousel carousel-fade slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{% static 'images/slide/policek.jpg' %}" class="carousel-image img-fluid"
                                        alt="...">

                                    <div class="carousel-caption d-flex flex-column justify-content-end">
                                        <h1>be a Kind Heart</h1>

                                        <p>Professional charity theme based on Bootstrap 5.2.2</p>
                                    </div>
                                </div>

                                <div class="carousel-item">
                                    <img src="{% static 'images/slide/station.jpg' %}" class="carousel-image img-fluid"
                                        alt="...">

                                    <div class="carousel-caption d-flex flex-column justify-content-end">
                                        <h1>Non-profit</h1>

                                        <p>You can support us to grow more</p>
                                    </div>
                                </div>

                                <div class="carousel-item">
                                    <img src="{% static 'images/slide/army.jpg' %}" class="carousel-image img-fluid"
                                        alt="...">

                                    <div class="carousel-caption d-flex flex-column justify-content-end">
                                        <h1>Humanity</h1>

                                        <p>Please tell your friends about our website</p>
                                    </div>
                                </div>
                            </div>

                            <button class="carousel-control-prev" type="button" data-bs-target="#hero-slide"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>

                            <button class="carousel-control-next" type="button" data-bs-target="#hero-slide"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <section class="section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-10 col-12 text-center mx-auto">
                        <h2 class="mb-5">
                            {% if user.is_authenticated %}
                            Welcome, {{ user.username }}!
                            {% else %}
                            Welcome
                            {% endif %}
                        </h2>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                        <div class="featured-block d-flex justify-content-center align-items-center">
                            <a href="index.php#section_4" class="d-block">
                                <img src="{% static 'images/icons/hands.png' %}" class="featured-block-image img-fluid"
                                    alt="">

                                <p class="featured-block-text">Become a <strong>volunteer</strong></p>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
                        <div class="featured-block d-flex justify-content-center align-items-center">
                            <a href="index.php#section_3" class="d-block">
                                <img src="{% static 'images/icons/heart.png' %}" class="featured-block-image img-fluid"
                                    alt="">

                                <p class="featured-block-text"><strong>Cyber</strong> Laws</p>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
                        <div class="featured-block d-flex justify-content-center align-items-center">
                            <a href="index.php#section_5" class="d-block">
                                <img src="{% static 'images/icons/receive.png' %}"
                                    class="featured-block-image img-fluid" alt="">

                                <p class="featured-block-text">Make a <strong>Change</strong></p>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                        <div class="featured-block d-flex justify-content-center align-items-center">
                            <a href="register_fir" class="d-block">
                                <img src="{% static 'images/icons/scholarship.png' %}"
                                    class="featured-block-image img-fluid" alt="">

                                <p class="featured-block-text"> Register an <strong>FIR</strong></p>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="section-padding section-bg" id="section_2">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-12 mb-5 mb-lg-0"></div>
                    <img src="{% static 'images/policeguylookingup.png' %}" class="custom-text-box-image img-fluid"
                        alt="">
                </div>

                <div class="col-lg-6 col-12"></div>
                <div class="custom-text-box">
                    <h2 class="mb-2">Our Story</h2>

                    <h5 class="mb-3">Cyber Portel, Police HeadQuarters</h5>

                    <p class="mb-0">The Cyber Portel a constituted body of persons empowered by a state, with
                        the aim to enforce the law, to ensure the safety, health and possessions of citizens,
                        and to prevent crime and civil disorder.</p>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12"></div>
                    <div class="custom-text-box mb-lg-0">
                        <h5 class="mb-3">Our Mission</h5>

                        <p>To reduce the crime rate and make our country crime free.</p>

                        <ul class="custom-list mt-2">
                            <li class="custom-list-item d-flex">
                                <i class="bi-check custom-text-box-icon me-2"></i>
                                Say no to Crime
                            </li>

                            <li class="custom-list-item d-flex">
                                <i class="bi-check custom-text-box-icon me-2"></i>
                                Help others
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-12">
                    <div class="custom-text-box d-flex flex-wrap d-lg-block mb-lg-0">
                        <div class="counter-thumb">
                            <div class="d-flex">
                                <span class="counter-number" data-from="1" data-to="2022" data-speed="1000"></span>
                                <span class="counter-number-text"></span>
                            </div>

                            <span class="counter-text">Founded</span>
                        </div>

                        <div class="counter-thumb mt-4">
                            <div class="d-flex">
                                <span class="counter-number" data-from="1" data-to="12000" data-speed="1000"></span>
                                <span class="counter-number-text">+</span>
                            </div>

                            <span class="counter-text">Cases solved</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- //////////////////////////////////////////////////////// -->
        <!-- //////////////////////////////////////////////////////// -->
        <!-- //////////////////////////////////////////////////////// -->

        <section class="testimonial-section section-padding section-bg">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12 mx-auto">
                        <h2 class="mb-lg-3">Happy Volunteers</h2>

                        <div id="testimonial-carousel" class="carousel carousel-fade slide" data-bs-ride="carousel">

                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="carousel-caption">
                                        <h4 class="carousel-title">Great place to volunteer to help and assist community
                                            also to learn about the operation of the police and their procedure. Also
                                            help educate people of the community. </h4>

                                        <small class="carousel-name"><span class="carousel-name-title">Mohini</span>,
                                            Volunteer</small>
                                    </div>
                                </div>

                                <div class="carousel-item">
                                    <div class="carousel-caption">
                                        <h4 class="carousel-title">Great organization! I fell in love with the aspect of
                                            the job, being the one whom society looks to and just the bond that you
                                            create amongst each other.</h4>

                                        <small class="carousel-name"><span class="carousel-name-title">Ram</span>,
                                            Admin</small>
                                    </div>
                                </div>

                                <div class="carousel-item">
                                    <div class="carousel-caption">
                                        <h4 class="carousel-title">Well with opportunity, it really wasn't a job it was
                                            voluntary. I had to help the Police officers track down those who were doing
                                            selling illegal items to under age and individuals.</h4>

                                        <small class="carousel-name"><span class="carousel-name-title">Tanvi</span>,
                                            Advisor</small>
                                    </div>
                                </div>

                                <div class="carousel-item">
                                    <div class="carousel-caption">
                                        <h4 class="carousel-title">On a typical volunteer day, we'd meet and discuss
                                            what community projects we'd tackle during the week. Our group leader,
                                            assisted us in my favorite part of the job.</h4>

                                        <small class="carousel-name"><span class="carousel-name-title">Samarth</span>,
                                            Volunteer</small>
                                    </div>
                                </div>

                                <ol class="carousel-indicators">
                                    <li data-bs-target="#testimonial-carousel" data-bs-slide-to="0" class="active">
                                        <img src="{% static 'images/avatar/portrait-beautiful-young-woman-standing-grey-wall.jpg' %}"
                                            class="img-fluid rounded-circle avatar-image" alt="avatar">
                                    </li>

                                    <li data-bs-target="#testimonial-carousel" data-bs-slide-to="1" class="">
                                        <img src="{% static 'images/avatar/portrait-young-redhead-bearded-male.jpg' %}"
                                            class="img-fluid rounded-circle avatar-image" alt="avatar">
                                    </li>

                                    <li data-bs-target="#testimonial-carousel" data-bs-slide-to="2" class="">
                                        <img src="{% static 'images/avatar/pretty-blonde-woman-wearing-white-t-shirt.jpg' %}"
                                            class="img-fluid rounded-circle avatar-image" alt="avatar">
                                    </li>

                                    <li data-bs-target="#testimonial-carousel" data-bs-slide-to="3" class="">
                                        <img src="{% static 'images/avatar/studio-portrait-emotional-happy-funny.jpg' %}"
                                            class="img-fluid rounded-circle avatar-image" alt="avatar">
                                    </li>
                                </ol>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <!-- //////////////////////////////////////////////////////// -->
        <!-- //////////////////////////////////////////////////////// -->
        <!-- //////////////////////////////////////////////////////// -->
        <!-- //////////////////////////////////////////////////////// -->







        <section class="contact-section section-padding" id="section_6">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-12 ms-auto mb-5 mb-lg-0">
                        <div class="contact-info-wrap">
                            <h2>Get in touch</h2>

                            <div class="contact-image-wrap d-flex flex-wrap">
                                <img src="{% static 'images/Logo.png' %}" class="img-fluid avatar-image" alt="">

                                <div class="d-flex flex-column justify-content-center ms-3">
                                    <p class="mb-0">Cyber Portel</p>
                                    <p class="mb-0"><strong>Police Headquarters</strong></p>
                                </div>
                            </div>

                            <div class="contact-info">
                                <h5 class="mb-3">Contact Infomation</h5>

                                <p class="d-flex mb-2">
                                    <i class="bi-geo-alt me-2"></i>
                                    Police Headquarters, India
                                </p>

                                <p class="d-flex mb-2">
                                    <i class="bi-telephone me-2"></i>

                                    <a href="tel: 120-240-9600">
                                        120-240-9600
                                    </a>
                                </p>

                                <p class="d-flex">
                                    <i class="bi-envelope me-2"></i>

                                    <a href="mailto:info@yourgmail.com">
                                        help@police.gov.in
                                    </a>
                                </p>

                                <a href="#" class="custom-btn btn mt-3">Get Direction</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 col-12 mx-auto">
                        <!-- HTML code with the form -->
                        <form class="custom-form contact-form" action="{% url 'contact' %}" method="post" role="form">
                            <h2>Contact form</h2>
                            <p class="mb-4">Or, you can just send an email: <a href="#">help@police.gov.in</a></p>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <input type="text" name="first-name" id="first-name" class="form-control"
                                        placeholder="Jack" required>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <input type="text" name="last-name" id="last-name" class="form-control"
                                        placeholder="Doe" required>
                                </div>
                            </div>
                            <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control"
                                placeholder="Jackdoe@gmail.com" required>
                            <textarea name="message" rows="5" class="form-control" id="message"
                                placeholder="What can we help you?"></textarea>
                            <button type="submit" class="form-control">Send Message</button>
                        </form>

                    </div>

                </div>
            </div>
        </section>
    </main>
    <!-- 
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12 mb-4"></div>
                    <img src="{% static 'images/Logo.png' %}" class="logo img-fluid" alt="">
                </div>

                <div class="col-lg-4 col-md-6 col-12 mb-4">
                    <h5 class="site-footer-title mb-3">Quick Links</h5>

                    <ul class="footer-menu"></ul>
                    <li class="footer-menu-item"><a href="#" class="footer-menu-link">Our Story</a></li>

                    <li class="footer-menu-item"><a href="#" class="footer-menu-link">Newsroom</a></li>

                    <li class="footer-menu-item"><a href="#" class="footer-menu-link">Cyber Laws</a></li>

                    <li class="footer-menu-item"><a href="#" class="footer-menu-link">Become a volunteer</a></li>

                    <li class="footer-menu-item"><a href="#" class="footer-menu-link">Contact us</a></li>
                    <li class="footer-menu-item">
                        {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}" class="footer-menu-link">Logout</a>
                        {% else %}
                        <a href="{% url 'user_login' %}" class="footer-menu-link">Login</a>
                        {% endif %}
                    </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 col-12 mx-auto">
                    <h5 class="site-footer-title mb-3">Contact Infomation</h5>

                    <p class="text-white d-flex mb-2">
                        <i class="bi-telephone me-2"></i>

                        <a href="tel: 120-240-9600" class="site-footer-link">
                            120-240-9600
                        </a>
                    </p>

                    <p class="text-white d-flex">
                        <i class="bi-envelope me-2"></i>

                        <a href="mailto:info@yourgmail.com" class="site-footer-link">
                            help@police.gov.in
                        </a>
                    </p>

                    <p class="text-white d-flex mt-3">
                        <i class="bi-geo-alt me-2"></i>
                        Police Headquarters, Rajasthan
                    </p>

                    <a href="#" class="custom-btn btn mt-3">Get Direction</a>
                </div>
            </div>
        </div>

        <div class="site-footer-bottom">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-md-7 col-12">
                        <p class="copyright-text mb-0">Copyright © 2022 <a href="#">Government of India.</a>
                        </p>
                    </div>

                    <div class="col-lg-6 col-md-5 col-12 d-flex justify-content-center align-items-center mx-auto">
                        <ul class="social-icon">
                            <li class="social-icon-item"></li>
                                <a href="#" class="social-icon-link bi-twitter"></a>
                            </li>

                            <li class="social-icon-item"></li>
                                <a href="#" class="social-icon-link bi-facebook"></a>
                            </li>

                            <li class="social-icon-item"></li>
                                <a href="#" class="social-icon-link bi-instagram"></a>
                            </li>

                            <li class="social-icon-item"></li>
                                <a href="#" class="social-icon-link bi-linkedin"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-youtube"></a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </footer> -->

    <!-- JAVASCRIPT FILES -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/click-scroll.js' %}"></script>
    <script src="{% static 'js/counter.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            console.log("[Debug] Page loaded");

            // Create variable from Django template context
            const userAuthenticated = "{{ user.is_authenticated }}" === "True";

            if (userAuthenticated) {
                console.log("[Debug] User is authenticated");
                console.log("[Debug] Username:", "{{ user.username|escapejs }}");
                console.log("[Debug] Email:", "{{ user.email|escapejs }}");
                console.log("[Debug] Last login:", "{{ user.last_login|date:'Y-m-d H:i:s'|default:'Never'|escapejs }}");
            } else {
                console.log("[Debug] User is not authenticated");
            }

            // Add error handling
            window.onerror = function (msg, url, lineNo, columnNo, error) {
                console.error('[Debug] Error:', msg);
                console.error('[Debug] URL:', url);
                console.error('[Debug] Line:', lineNo);
                console.error('[Debug] Column:', columnNo);
                console.error('[Debug] Error object:', error);
                return false;
            };
        });
    </script>
</body>

</html>
{% endblock %}